/* Alertas: */
@charset "UTF-8";
/* Configurações gerais da Página: */
*{
  margin: 0;
  padding: 0;
}
html,body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
  width: 100%;
  height: 100%;
  background: url(../img/standard/fundo.png);
}
/* Responsividade para telas maiores: */
@media screen and (min-width: 768px) {
  /* Logotipo do site */
  .logo{
    position: fixed;
    margin-left: 4.5vw;
    float: left;
    padding: none;
    margin: none;
    height: 60px;
    width: 350px;
  }
  .logo img{
    height: 60px;
    width: auto;
    float: left;
  }
  .logo h2{
    margin-left: 30px;
    margin-top: 14px;
    height: 30px;
    width: 380px;
    color: white;
    text-shadow: 0px 0px 2px rgba(60, 60, 60, 1);
  }
  /* Barra de Navegação: */
  .navbar{
    position: fixed;
    float: right;
    width: 100%;
    height: 60px;
    padding: 0;
    margin: 0;
  }
  .navbar li a, .navbar li span{
    display: inline-block;
    padding: 0em 1.5em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 60px;
  }
  /* Seções e Conteúdo: */
  .content h2{
    font-size: 2vw;
  }
  .content p,.content ul{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 2.5vh;
  }
  .content ul{
    margin-left: 25%;
    text-align: left;
  }
  .content li{
    margin-right: 30%;
  }
  .content cite{
    font-size: 2.5vh;
  }
  .content img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    max-height: 800px;
  }
  /* Botão de Retornar ao topo: */
  .back-to-top-button{
    background-color: #1464B4;
    border-radius: 0.1em;
    color: white;
    text-decoration:none;
    text-align: center;
    font-size: 50px;
    cursor: pointer;
    padding-bottom: 20px;
    height: 40px;
    width: 60px;
    position: fixed;
    right: 4.5vw;
    bottom: 30px;
  }
  .back-to-top-button:hover{
    transition: 0.1s;
    transform: scale(0.98);
    border: 3px solid #1464B4;
    background-color: white;
    height: 36px;
    width: 57px;
    color: #1464B4;
  }
}
/* Responsividade para telas médias: */
@media screen and (max-width: 880px) {
  /* Logotipo do site */
  .logo h2{
    margin-left: 10vw;
    margin-top: 9px;
    position: absolute;
    line-height: 6vh;
    font-size: 2.75vw;
    text-align: left;
    width: 300px;
    color: white;
    text-shadow: 0px 0px 2px rgba(60, 60, 60, 1);
  }
  .content cite{
    font-size: 0.8em;
  }
}
/* Responsividade para telas menores: */
@media screen and (max-width: 767px) {
  /* Logotipo do site */
  .logo{
    position: relative;
    margin-left: 4.5vw;
    float: left;
    padding: none;
    margin: none;
    height: 60px;
    width: 350px;
  }
  .logo img{
    height: 6vh;
    width: auto;
    float: left;
  }
  .logo h2{
    margin-left: 11.25vw;
    margin-top: 0;
    position: absolute;
    line-height: 6vh;
    font-size: 2.75vw;
    text-align: left;
    width: auto;
    color: white;
    text-shadow: 0px 0px 2px rgba(60, 60, 60, 1);
  }
  /* Barra de Navegação: */
  .navbar{
    position: fixed;
    float: right;
    width: 100%;
    height: 6vh;
    margin: none;
  }
  .navbar li a, .navbar li span{
    display: inline-block;
    padding: 0em 1.5em;
    text-decoration: none;
    font-size: 2.4vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 6vh;
  }
  /* Seções e Conteúdo: */
  .content p,.content ul{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 2vh;
  }
  .content h2{
    font-size: 2.5vh;
  }
  .content ul{
    margin-left: 15%;
    text-align: left;
  }
  .content li{
    margin-right: 10%;
  }
  .content cite{
    font-size: 0.75em;
  }
  .content img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 16px;
    max-width: 80%;
    max-height: 800px;
  }
  /* Botão de Retornar ao topo: */
  .back-to-top-button{
    background-color: #1464B4;
    border-radius: 5%;
    color: white;
    text-decoration:none;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
    padding-bottom: 16px;
    height: 33px;
    width: 49px;
    position: fixed;
    right: 4.5vw;
    bottom: 30px;
  }
  .back-to-top-button:hover{
    transition: 0.1s;
    transform: scale(0.98);
    border: 2px solid #1464B4;
    background-color: white;
    height: 29,115px;
    width: 44,865px;
    color: #1464B4;
  }
}
/* Configurações gerais de Estilização: */
/* Cabeçalho: */
.top-header{
  text-align: center;
  position: fixed;
  height: 4.5em;
  width: auto;
  font-family: arial,sans-serif;
}
/* Barra de Navegação: */
.navbar ul{
  text-align: center;
  float: right;
  margin: none;
  background: #1464B4;
  margin-right: 4.5vw;
  margin-left: 4.5vw;
}
.border-bottom-radius{
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
}
.navbar li{
  display: inline-block;
  padding: none;
  margin: none;
}
.navbar li a{
  color: #FFF;
}
.navbar li:hover a, #navbar li span{
  transition: 0.1s;
  background: #FFF;
  color: #0074D9;
  text-decoration: none;
}
.border-bottom-l-a{
  border-bottom-left-radius: 0.4em;
}
.border-bottom-r-a{
  border-bottom-right-radius: 0.4em;
}
/* Banner do Site: */
.bottom-header{
  max-width: 100%;
  background-color: #008abc;
  height: auto;
}
.banner{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
/* Seções e Conteúdo: */
main{
  margin-top: 30px;
}
.content{
  font-family: arial,sans-serif;
  background-color: rgb(255,255,255,0.5);
  color: black;
  text-align: center;
  width: auto;
  height: auto;
  margin: 4.5vw;
  padding: 40px;
  border-radius: 0.4em;
  box-shadow: -0px -0px 4px 2px #c0c0c0;
}
.content h1{
  color: #0074D9;
  font-size: 2.75vw;
  margin-bottom: 10px;
}
.content h2, cite{
  color: #ff5722;
  margin-bottom: 15px;
}
.content span{
  cursor: pointer;
}
.content span:hover{
  transition: 0.1s;
  transform: scale(1.1);
  color: #1464B4;
}
.content li{
  padding: 2px;
}
.content table{
  width: 100%;
  height: auto;
  font-family: monospace;
  font-weight: lighter;
  text-shadow: 0px 1px 2px white;
  margin: 30px auto;
  border-collapse: collapse;
}
.table-round-corner {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    overflow:hidden;
    border: 1px solid rgb(255, 255, 255, 0.5);
    border-collapse:separate;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}
th, td{
  padding: 10px;
  font-size: 1.5vw;
  text-align: left;
}
th{
  background-color: rgb(50, 160, 240, 0.55);
}
td{
  background-color: rgb(50, 160, 240, 0.075);
}
tr:nth-child(even){
  background-color: rgb(50, 160, 240, 0.1);
}
.text-align{
  text-align: center;
}
.tr-body:hover{
  background-color: rgb(25, 118, 210, 0.25);
}
.td-img-padding{
  padding: 5px;
}
.table-fig *{
  width: auto;
  margin: 0 auto;
  padding: 0 auto;
  float: left;
  display: inline;
}
.table-img{
  width: 2.5vw;
  height: auto;
  padding-left: 8px;
  vertical-align: middle;
}
.table-img:hover{
  cursor: pointer;
}
/* Rodapé do Site */
footer{
  width: 100%;
  height: auto;
  text-align: center;
  color: white;
  padding: 10px 0px;
  background-color: #1464B4;
  font-family: arial,sans-serif;
  font-weight: 600;
  display: block;
  bottom: 0;
}
.border-top-radius{
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
}
.footer-text,.footer-a{
  text-decoration: none;
  margin: 10px;
  color: white;
  font-size: 2vh;
}
.footer-a:hover{
  text-decoration: underline;
}
